.Label {
  position: relative;
  margin-bottom: 10px;
}

.Label:nth-child(3) {
  margin-bottom: 20px;
}

.Input {
  margin-top: 3px;
  padding: 8px 30px 8px 0;
  width: 320px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  font-family: 'Montserrat', sans-serif;
  color: var(--input-text-color);
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid var(--input-secondary-color);
}

.Input:focus {
  border-color: var(--theme-color);
}

.Input::placeholder {
  color: var(--input-secondary-color);
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .Input {
    width: 250px;
  }
}
