.ErrorMessage {
  margin-top: 8px;
  color: var(--error-message-color);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}