.Icon {
  width: 24px;
  height: 24px;
  color: var(--theme-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.5;
}

.ShowBtn,
.HideBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.ShowBtn::before,
.HideBtn::before {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: var(--theme-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%);
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ShowBtn::before {
  content: 'Show';
}

.HideBtn::before {
  content: 'Hide';
}

.ShowBtn:hover::before,
.HideBtn:hover::before {
  opacity: 1;
}

.ShowBtn:hover svg,
.HideBtn:hover svg {
  opacity: 1;
  fill: var(--theme-color-hover);
}
